html, body {
    width: 100%;
    height: 100%;
}

.box-area {
    width: 100%;
    height: calc(100% - 70px);
    line-height: 1.0;
}

.box-left {
    width: 30%;
    height: 100%;
    background-color: #cacccc;
    color: #333333;
    float: left;
    overflow: auto;
}

.box-right {
    width: 70%;
    height: 100%;
    background-color: #fefefe;
    float: right;
    overflow: auto;
}

.clear {
    clear: both;
}
